#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
      Welcome to your blog editing interface. We hope you have a pleasant writing experience.
      %hr
-content_for :sidebar, partial("base/sidebar")
